.Zoomer {
    scale: 0.8;
    /* rotate: 100deg; */
    transform: perspective(100px);
    /* transform: rotateX('200deg'); */
    transition: 400ms ease-out;
}

.Zoomer.visible {
    /* transform: rotateX("0deg"); */
    scale: 1;
    transform: perspective(0cm);
    /* rotate: 0deg; */
}


.Zoomer2 {
    scale: 0.5;
    transition: 2000ms ease-out;
}

.Zoomer2.visible {
    scale: 1;
}

.Upper {
    transform: translateY(50px);
    scale: 0.5;
    transition: 700ms ease-out;
}

.Upper.visible {
    transform: translateY(0);
    scale: 1;
}

.Fader {
    opacity: 0;
    transition: 500ms ease-in-out;
}

.Fader.visible {
    opacity: 1;
    animation: fader 1000ms ease-in-out;
}

@keyframes fader {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}