@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 500ms;
    scrollbar-color: #390557 #000000;
}

body{
    overflow-x: hidden;
    background: #030303;
}

/* In your CSS file or tailwind.config.css */
@keyframes scroll-left {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.animate-scrolling {
  animation: scroll-left 10s linear infinite;
}


.downer{
  animation: downer 2s;
}

@keyframes downer {
  0%,70% {
    transform: translateY(-80px);
    /* transform: scaleX(0); */
  }
  100% {
    transform: translateY(0);
    /* transform: scaleX(1); */
  }
}

.fader{
  animation: fader 2s;
}

@keyframes fader {
  0%,70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popUp{
  animation: popUp 1.6s;
}

@keyframes popUp {
  0%,50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}